.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #151932;
  border-radius: 40px;
  max-height: 64px;
}

.navbar_button {
  color: #525670;
  padding: 20px 40px;
}

.selected_navbar_button {
  color: #2b1c2a;
  border-radius: 40px;
}

.color_orange {
  background-color: rgb(250, 112, 114);
}

.color_yellow {
  background-color: rgb(248, 245, 39);
}

.color_green {
  background-color: rgb(39, 248, 39);
}

@media (max-width: 580px) {
  .navbar_button {
    padding: 10px 20px;
  }
}
@media (max-width: 350px) {
  .navbar_button {
    padding: 7px 14px;
  }
}
