.Counter {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(27, 27, 27);
  background: radial-gradient(
    circle,
    rgba(27, 27, 27, 1) 0%,
    rgba(55, 55, 55, 1) 50%,
    rgba(91, 91, 91, 1) 70%,
    rgba(51, 46, 40, 1) 95%
  );
  width: 500px;
  height: 500px;
  border-radius: 50%;
}
.Timer {
  font-size: 8.2em;
  line-height: 1.1;
  font-weight: 500;
}
/* 
.progress-ring {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
} */

.progress-ring__circle {
  transition: stroke-dashoffset 0.35s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}
